.table-container {
    margin-bottom: 20px;
}

.results-table {
    display: none; /* Изначально скрываем таблицы */
    width: 100%;
    border-collapse: collapse;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.toggle {
    display: block;
    background-color: #f2f2f2;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}
