.table-container {
    margin-bottom: 20px;
}

.results-table {
    display: none; /* Изначально скрываем таблицы */
    width: 100%;
    border-collapse: collapse;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.toggle {
    display: block;
    background-color: #f2f2f2;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}
.title {
    font-size: 24px; /* увеличиваем размер шрифта */
    font-weight: bold; /* делаем текст жирным */
    color: #333; /* задаем темный цвет для контраста */
    cursor: pointer; /* рука-указатель при наведении, чтобы пользователь понял, что элемент кликабелен */
    padding: 10px 0; /* добавляем небольшие отступы для улучшения восприятия */
}

   .table-content {
       max-height: 0;
       transition: max-height 0.2s ease-out;
       overflow: hidden;
   }
   
