.table-container {
    margin-bottom: 20px;
}

.results-table {
    display: table; /* Устанавливаем display как table, чтобы таблицы были видимы */
    width: 100%;
    border-collapse: collapse;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.title {
    font-size: 24px; /* Увеличиваем размер шрифта */
    font-weight: bold; /* Делаем текст жирным */
    color: #333; /* Задаем темный цвет для контраста */
    padding: 10px 0; /* Добавляем небольшие отступы для улучшения восприятия */
}

/* Убираем классы и стили для анимации, если она не нужна */
.table-content {
    max-height: none; /* Убираем ограничение по высоте */
    overflow: visible; /* Убедитесь, что все элементы отображаются */
}
